@model Scouter.Web.ViewModels.ReportViewModel
           <!--Current url links that still need to be added to the website for easy access:
                -(Reports/teamrankings/5) needs to be added to the events page, last number corresponds to the event its assigned to.
                -Another similar link should be on the reports page itself, directing to the current event rankings.
               -In reports add a button that goes to the next match.
               -Add at team analysis page for the match in the reports page.
               --> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTeams.cshtml";
}

@section scripts {
    <script>
        $(function () {
            //
            // CLIENT SIDE VIEWMODEL
            //
            var ViewModel = function (team) {
                var self = this;
                self.teamNumber = ko.observable(@Model.TeamNumber);
                self.model = ko.observableArray(@Html.Raw(Model.AllIRSMatchesJSON));
                self.events = ko.observableArray(@Html.Raw(Model.AllFRCEventsJSON));
                self.currentEventID = ko.observable(@Html.Raw(Model.CurrentEventID));
                self.currentMatchSeq = ko.observable(@Html.Raw(Model.CurrentMatchSeq));

                self.changeEvent = function () {
                    var url = '/Reports/Index/' + self.currentEventID() + '/' + self.teamNumber();
                    location.href = url;
                }
            }
            
            var vm = new ViewModel();
            ko.applyBindings(vm);
        });
    </script>
}

<div class="page-header">
    <p class="lead">
        Upcoming Match Report for <select data-bind="options: events, optionsText: 'name', optionsValue: 'eventId', value: currentEventID, event: {change: changeEvent}, optionsCaption: 'Choose...'"></select>
    </p>
    <div id="manifeststates" style="width: 25%; height: 10px; margin: 0 auto; display: none;">
        <p id="manifeststatus"></p>
        <progress id="prog" max="100" value="0"></progress>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p data-bind="text: 'All Upcoming matches for ' + teamNumber()" />
            <p data-bind="text: 'Current match is ' + currentMatchSeq()" />
        </div>
    </div>

    <div id="list-container">
        <div class="row" style="border-bottom: 1px solid black">
            <div class="col-xs-1">
                Match
            </div>
            <div class="col-xs-1">
                Blue 1
            </div>
            <div class="col-xs-1">
                Blue 2
            </div>
            <div class="col-xs-1">
                Blue 3
            </div>
            <div class="col-xs-1">
                Red 1
            </div>
            <div class="col-xs-1">
                Red 2
            </div>
            <div class="col-xs-1">
                Red 3
            </div>
        </div>
        <div data-bind="template: { name: 'list-template', foreach: model }"></div>
    </div>


<script type="text/html" id="list-template">
    <div class="row" style="border-bottom: 1px solid black">
        <div class="col-xs-1">
            <a class="btn btn-sm" data-bind="attr: { href: '/Reports/UpcomingMatch/' + $parent.currentEventID() + '/' + matchSeq }"><label data-bind="text: matchSeq"></label></a>
        </div>
        <div class="col-xs-1">
            <p data-bind="text: blue1"/>
        </div>
        <div class="col-xs-1">
            <p data-bind="text: blue2" />
        </div>
        <div class="col-xs-1">
            <p data-bind="text: blue3" />
        </div>
        <div class="col-xs-1">
            <p data-bind="text: red1" />
        </div>
        <div class="col-xs-1">
            <p data-bind="text: red2" />
        </div>
        <div class="col-xs-1">
            <p data-bind="text: red3" />
        </div>
    </div>
</script>
</div>
