@model Scouter.Web.ViewModels.HumanScouterViewModel

@{
    ViewBag.Title = "Human Player Scouter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        var vm;
        var humanEventTypes = @Html.Raw(Model.HumanEventTypes);

        $(function ()
        {
            var Event = function ()
            {
                this.id = 0;
                this.scouter_Id = @Model.Scouter_Id;
                this.humanEventType = 0;
                this.team_Number = 0;
            }

            var ScoutInfo = function()
            {
                this.scouter = 0;
                this.match_Id = 0;
                this.scouterStatus = 0;
                this.team_Id = 0;
            }
            //
            // CLIENT SIDE VIEWMODEL
            //
            var ViewModel = function ()
            {
                var self = this;

                //Add isClicked Booleans here/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                self.throwToOwnLandfillPressed1 = ko.observable(false);
                self.throwPastOpponentLandfillPressed1 = ko.observable(false);
                self.failurePressed1 = ko.observable(false);
                self.throwToOwnLandfillPressed2 = ko.observable(false);
                self.throwPastOpponentLandfillPressed2 = ko.observable(false);
                self.failurePressed2 = ko.observable(false);
                self.throwToOwnLandfillPressed3 = ko.observable(false);
                self.throwPastOpponentLandfillPressed3 = ko.observable(false);
                self.failurePressed3 = ko.observable(false);

                self.oopsClicked = ko.observable(false);

                //Add Count integers here/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                self.throwToOwnLandfillCount1 = ko.observable(0);
                self.throwPastOpponentLandfillCount1 = ko.observable(0);
                self.failureCount1 = ko.observable(0);
                self.throwToOwnLandfillCount2 = ko.observable(0);
                self.throwPastOpponentLandfillCount2 = ko.observable(0);
                self.failureCount2 = ko.observable(0);
                self.throwToOwnLandfillCount3 = ko.observable(0);
                self.throwPastOpponentLandfillCount3 = ko.observable(0);
                self.failureCount3 = ko.observable(0);

                self.clear = function()
                {
                    //Set all isClickd booleans to false here/////////////////////////////////////////////////////////////////////////////////////////////
                    self.throwToOwnLandfillPressed1(false);
                    self.throwPastOpponentLandfillPressed1(false);
                    self.failurePressed1(false);
                    self.throwToOwnLandfillPressed2(false);
                    self.throwPastOpponentLandfillPressed2(false);
                    self.failurePressed2(false);
                    self.throwToOwnLandfillPressed3(false);
                    self.throwPastOpponentLandfillPressed3(false);
                    self.failurePressed3(false);

                    self.oopsClicked(false);
                }

                //Add on clicked functions here///////////////////////////////////////////////////////////////////////////////////////////////////////////
                self.abstractButtonFunction = function(clicked, count, humanEv, team)
                {
                    //reset all buttons to original color and then set self button to clicked color
                    self.clear();

                    clicked(true);
                    //add one to the count of clicks

                    if (typeof(count()) == typeof(0)) {
                        count(count() + 1);
                    }
                    else if (typeof(count()) == typeof(false)) {
                        count(!count());
                    }
                    else {
                        // terrible
                    }
                    //Create a new robot event and set it's variables
                    var e = new Event();
                    e.humanEventType = humanEv;
                    e.team_Number = team;
                    //Send the robot event to the server
                    scouterDataService.saveHuman(ko.toJS(e));
                }

                self.oops = function()
                {
                    self.clear();
                    self.oopsClicked(true);
                    scouterDataService.undoHuman(@Model.Scouter_Id).done(function (data)
                    {
                        self.updateCounter();
                    });
                }

                self.updateCounter = function()
                {
                    scouterDataService.updateHumanCounter(@Model.Scouter_Id).done(function (data)
                    {
                        //set your counts to the server counts////////////////////////////////////////////////////////////////////////////////////////////
                        self.throwToOwnLandfillCount1(data.ThrowToOwnLandfill1);
                        self.throwToOwnLandfillCount2(data.ThrowToOwnLandfill2);
                        self.throwToOwnLandfillCount3(data.ThrowToOwnLandfill3);

                        self.throwPastOpponentLandfillCount1(data.ThrowPastOpponentLandfill1);
                        self.throwPastOpponentLandfillCount2(data.ThrowPastOpponentLandfill2);
                        self.throwPastOpponentLandfillCount3(data.ThrowPastOpponentLandfill3);

                        self.failureCount1(data.Failure1);
                        self.failureCount2(data.Failure2);
                        self.failureCount3(data.Failure3);
                    })
                }

                self.nav = function ()
                {
                    document.location = '/Scouting/Teleop/@Model.Scouter_Id';
                }

                //set the colors for the buttons
                if (@Model.Scouter_Id < 2)//red scout
                {
                    self.color = 'red';
                    self.clickColor = 'pink';
                    self.colorAlt = '#FF4444';
                }
                else//blue scouts
                {
                    self.color = 'deepskyblue';
                    self.clickColor = 'lightblue';
                    self.colorAlt = 'skyblue';
                }
                self.updateCounter();
            }

            //create the viewmodel and apply bindings
            vm = new ViewModel();
            ko.applyBindings(vm);
        })
    </script>
}
<div class="row" style="color:white">
    <span style="color:red; background-color:rgba(0, 0, 0, 0.8)">Human Player</span>
    <span style="font-size:16px; background-color:rgba(0, 0, 0, 0.8)" data-bind="text: ' Match: ' + @Model.Match.SequenceNumber" />
</div>

<div class="row" id="row1l">
    <span style="color:white; background-color:rgba(0, 0, 0, 0.8)">Team: @Model.Team1.Number (@Model.Team1.Name)</span>
</div>
<div class="row" id="row1c">
    <!-- vm is where you should create the buttons for the row. the color should either be color or colorAlt(or any other colors you define)
         the class that I was using for the "small" buttons was col-xs-2 and col-xs-4 for the longer ones. One limitation of Bootstraps
         tables is that the rows can have a max of 12 columns -->
    <!-- data-bind="click: <your onClickeFunction>, style: {backgroundColor: <your isClickedBoolean>() ? clickColor : [color | colorAlt]} class="col-xs-2"-->
    <div onclick="vm.abstractButtonFunction(vm.throwToOwnLandfillPressed1, vm.throwToOwnLandfillCount1, humanEventTypes['ThrowToOwnLandfill'], 1)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: throwToOwnLandfillPressed1() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Throw To Own Landfill</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: throwToOwnLandfillCount1()"></span>
        <br />
        <br />
    </div>
    <div onclick="vm.abstractButtonFunction(vm.throwPastOpponentLandfillPressed1, vm.throwPastOpponentLandfillCount1, humanEventTypes['ThrowPastOpponentLandfill'], 1)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: throwPastOpponentLandfillPressed1() ? clickColor : colorAlt}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Throw past opponent landfill</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: throwPastOpponentLandfillCount1()"></span>
        <br />
        <br />
    </div>
    <div onclick="vm.abstractButtonFunction(vm.failurePressed1, vm.failureCount1, humanEventTypes['Failure'], 1)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: failurePressed1() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Failure</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: failureCount1()"></span>
        <br />
        <br />
    </div>
</div>
<div class="row" id="row1l">
    <span style="color:white; background-color:rgba(0, 0, 0, 0.8)">Team: @Model.Team2.Number (@Model.Team2.Name)</span>
</div>
<div class="row" id="row2c">
    <!-- vm is where you should create the buttons for the row. the color should either be color or colorAlt(or any other colors you define)
         the class that I was using for the "small" buttons was col-xs-2 and col-xs-4 for the longer ones. One limitation of Bootstraps
         tables is that the rows can have a max of 12 columns -->
    <!-- data-bind="click: <your onClickeFunction>, style: {backgroundColor: <your isClickedBoolean>() ? clickColor : [color | colorAlt]} class="col-xs-2"-->
    <div onclick="vm.abstractButtonFunction(vm.throwToOwnLandfillPressed2, vm.throwToOwnLandfillCount2, humanEventTypes['ThrowToOwnLandfill'], 2)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: throwToOwnLandfillPressed2() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Throw To Own Landfill</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: throwToOwnLandfillCount2()"></span>
        <br />
        <br />
    </div>
    <div onclick="vm.abstractButtonFunction(vm.throwPastOpponentLandfillPressed2, vm.throwPastOpponentLandfillCount2, humanEventTypes['ThrowPastOpponentLandfill'], 2)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: throwPastOpponentLandfillPressed2() ? clickColor : colorAlt}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Throw past opponent landfill</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: throwPastOpponentLandfillCount2()"></span>
        <br />
        <br />
    </div>
    <div onclick="vm.abstractButtonFunction(vm.failurePressed2, vm.failureCount2, humanEventTypes['Failure'], 2)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: failurePressed2() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Failure</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: failureCount2()"></span>
        <br />
        <br />
    </div>
</div>
<div class="row" id="row1l">
    <span style="color:white; background-color:rgba(0, 0, 0, 0.8)">Team: @Model.Team3.Number (@Model.Team3.Name)</span>
</div>
<div class="row" id="row3c">
    <!-- vm is where you should create the buttons for the row. the color should either be color or colorAlt(or any other colors you define)
         the class that I was using for the "small" buttons was col-xs-2 and col-xs-4 for the longer ones. One limitation of Bootstraps
         tables is that the rows can have a max of 12 columns -->
    <!-- data-bind="click: <your onClickeFunction>, style: {backgroundColor: <your isClickedBoolean>() ? clickColor : [color | colorAlt]} class="col-xs-2"-->
    <div onclick="vm.abstractButtonFunction(vm.throwToOwnLandfillPressed3, vm.throwToOwnLandfillCount3, humanEventTypes['ThrowToOwnLandfill'], 3)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: throwToOwnLandfillPressed3() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Throw To Own Landfill</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: throwToOwnLandfillCount3()"></span>
        <br />
        <br />
    </div>
    <div onclick="vm.abstractButtonFunction(vm.throwPastOpponentLandfillPressed3, vm.throwPastOpponentLandfillCount3, humanEventTypes['ThrowPastOpponentLandfill'], 3)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: throwPastOpponentLandfillPressed3() ? clickColor : colorAlt}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Throw past opponent landfill</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: throwPastOpponentLandfillCount3()"></span>
        <br />
        <br />
    </div>
    <div onclick="vm.abstractButtonFunction(vm.failurePressed3, vm.failureCount3, humanEventTypes['Failure'], 3)"
         style="border-style: solid; border-width: medium; border-color: white" data-bind="    style: {backgroundColor: failurePressed3() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <!--  Labels! -->
        <span>Failure</span>
        <br />
        <!--  data-bind="text: <Your countvariable>()" -->
        <span data-bind="text: failureCount3()"></span>
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div data-bind="click: nav, style: {backgroundColor: color}" class="col-xs-2">
        <br />
        <br />
        <span>MatchEnd</span>
        <br />
        <br />
        <br />
    </div>
    <div data-bind="click: oops, style: {backgroundColor: oopsClicked() ? clickColor : color}" class="col-xs-2">
        <br />
        <br />
        <span>Oops</span>
        <br />
        <br />
        <br />
    </div>
    <div id="arrow"></div>
</div>
